*
{
	margin:0;
	border:0;
	position:relative;
}

.top
{
	width:100%;
	height:8%;
	background-color:#32325A;
}

.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  
  /* non-critical appearance styles */
  list-style: none;
  background: #32325A;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 100%;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #32325A;
  background: white;
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("../images/menu.png");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 92%;
}

.nav-trigger:checked ~ .site-wrap {
  left: 90%;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

/* Additional non-critical styles */

h1, h3, p {
  max-width: 600px;
  margin: 0 auto 1em;
}

code {
    padding: 2px;
    background: #ddd;
}

/* Micro reset */
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }

.menu-profile
{
	height: 30%;
    background-color: #32325A;
    color: white;;
}

.dp
{
	margin: auto;
    width: 30%;
    height: 50%;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 11%;
    float: left;
}

.detail
{
	float: left;
    margin-top: 8%;
    margin-left: 2%;
    width: 80%;
}

.email
{
	margin-left: 6%;
    padding-left: 27%;
    font-weight: bolder;
}

.chatting
{
	width:100%;
	height:75%;
	padding:2%;
	overflow-y:scroll;
}

.site-wrap
{
	background-color:#C4C2D4
}

.message-from-others,.message-from-me
{
	max-width: 80%;
    margin: auto;
    margin-top: 40px;
    border-radius: 20%/50%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 140px;
    height: auto;
    min-height: 46px;
    background-color: #32325A;
    color: white;
    box-shadow: 7px 7px 23px #32325A;
}

.mymsg
{
	float: right !important;
    right: -40px;
}

.mymsg-right
{
	margin-left: -78px !important;
    width: 115%;
}

.left
{
	width: 70px;
    height: 70px;
    border-bottom: 4px solid #282840;
    float: left;
    border-radius: 50%;
    margin-left: -146px;
    margin-top: -36px;
    background-color: white;
    box-shadow: 2px 2px 4px;
}

.right
{
	margin-left:-70px;
}

.chat-image
{
	width:90%;
	height:90%;
	border-radius:50%;
	margin:auto;
}

.message-from-me
{
	
}

.write
{
	width: 97%;
    height: 15%;
    margin-bottom: 0;
    margin: auto;
}

.send-btn
{
	float: left;
    width: 125px;
    height: 125px;
    background-color: #32325A;
    border-radius: 50%;
    right: 19px;
    margin-top: 1%;
    border: 14px solid #C4C2D4;
    margin-left: -112px;
    text-align: center;
    padding-top: 20px;
    cursor:pointer;
}

.write-msg
{
    width: 86%;
    height: 89%;
    float: left;
    margin-top: 9px;
    background-color: white;
    margin-left: 8px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 140px;
}

.sendicon
{
	width: 60%;
    height: 60%;
    margin: auto;
    transform: rotateZ(-30deg);
}
